@font-face {
	font-family: fontt;
    src: url('./OrangeSlicesOutline-nRng0.otf') format("opentype");
}
* {
	box-sizing: border-box;
}
body {
	margin: 5;
	padding: 5;
	background-color: #dbb0a0;
	font-size: 100%;
	font-family: arial;
	text-align: left;
	color: #57394a;
}

#box {
	padding: 10px 10px 10px 10px;
	background-color: #eab586;
	border: #57394a;
	border-width: 10%;
	border-style: solid;
	margin: 40px;
}

.style {
	font-family: "times new roman", times, serif;
	color: #b2481b;
	font-style: italic;
	font-weight: 900;
	font-size: 2em;
	text-transform: capitalize;
	text-align: center;
}
